{% set active_page = 'index' %}
{% extends "pages/base/base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<section class="section-container-fullscreen">
    <div class="bg-image"></div>
    <div class="index-container-content">
        <h1 class="index-h1">Hi, I'm Zoe!</h1>
        <div class="index-container-h2s">
            <div class="index-container-scroll-outer mr-1" id="index-container-scroll-outer">
                <div class="index-container-scroll" id="index-container-scroll">
                    <h2 class="index-h2 index-h2-scroll">Fullstack</h2>
                    <h2 class="index-h2 index-h2-scroll">HTML</h2>
                    <h2 class="index-h2 index-h2-scroll">CSS</h2>
                    <h2 class="index-h2 index-h2-scroll">JavaScript</h2>
                    <h2 class="index-h2 index-h2-scroll">Python</h2>
                    <h2 class="index-h2 index-h2-scroll">PHP</h2>
                    <h2 class="index-h2 index-h2-scroll">Wordpress</h2>
                    <h2 class="index-h2 index-h2-scroll">MongoDB</h2>
                    <h2 class="index-h2 index-h2-scroll">Django</h2>
                    <h2 class="index-h2 index-h2-short index-h2-scroll">Fullstack</h2>
                </div>
            </div>
            <div class="index-container-nonscroll ml-1">
                <h2 class="index-h2">Developer</h2>
            </div>
        </div>
        <div class="index-container-buttons">
            <div class="button button-md button-clear" data-link="portfolio" onclick="scrollRedirect(this)">Portfolio</div>
            <div class="button button-md button-clear" data-link="contact" onclick="scrollRedirect(this)">Contact</div>
        </div>
    </div>
</section>

{% include 'pages/index/includes/js_index_scrollEffects.html' %}

{% endblock %}