{% set active_page = 'index' %}
{% extends "pages/base/base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<section class="index-container-fullscreen">
    <div class="index-bg-image"></div>
    <div class="index-container-content">
        <h1 class="index-h1">Hi, I'm Zoe!</h1>
        <div class="index-container-h2s">
            <div class="index-container-scroll-outer mr-1" id="index-container-scroll-outer">
                <div class="index-container-scroll" id="index-container-scroll">
                    <h2 class="index-h2 index-h2-scroll">Fullstack</h2>
                    <h2 class="index-h2 index-h2-scroll">HTML</h2>
                    <h2 class="index-h2 index-h2-scroll">CSS</h2>
                    <h2 class="index-h2 index-h2-scroll">JavaScript</h2>
                    <h2 class="index-h2 index-h2-scroll">Python</h2>
                    <h2 class="index-h2 index-h2-scroll">PHP</h2>
                    <h2 class="index-h2 index-h2-scroll">Wordpress</h2>
                    <h2 class="index-h2 index-h2-scroll">MongoDB</h2>
                    <h2 class="index-h2 index-h2-scroll">Django</h2>
                    <h2 class="index-h2 index-h2-short index-h2-scroll">Fullstack</h2>
                </div>
            </div>
            <div class="index-container-nonscroll ml-1">
                <h2 class="index-h2">Developer</h2>
            </div>
        </div>
        <div class="index-container-buttons">
            <a href="">
                <div class="button button-md button-clear">Portfolio</div>
            </a>
            <a href="">
                <div class="button button-md button-clear">Contact</div>
            </a>
        </div>
    </div>
</section>

<script>
    let scrollBox = document.getElementById("index-container-scroll-outer");
    let scrollElements = document.getElementsByClassName("index-h2-scroll").length;
    let hoverOn = false;
    let hoverTimer;
    let hoverTimerDelay = 500;
    let i = 0;
    let scrollDelay = 0;

    $("#index-container-scroll-outer").hover(
        function scrollLoop() {
            hoverOn = true;
            hoverTimer = setTimeout(function() {
                setTimeout(function() {
                    scrollDown();
                    i++;
                    if ((i < scrollElements) && (hoverOn == true)) {
                        scrollLoop();
                    }
                }, scrollDelay)
            }, hoverTimerDelay);
        }, function() {
            hoverOn = false
            clearTimeout(hoverTimer)
            i = 0;
            setTimeout(function() {
                scrollUp()
            }, scrollDelay)
        }
    );

    function scrollDown() {
        scrollBox.scrollBy({
            top: 100,
            left: 0,
            behavior: "smooth"
        })
    }

    function scrollUp() {
        scrollBox.scrollTo({
            top: 0,
            left: 0,
            behavior: "smooth"
        })
    }
</script>
{% endblock %}