.index-container-fullscreen {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    box-sizing: border-box;
    overflow: hidden;
    
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;
}

.index-container-top, .index-container-bottom {
    width: 100%;
    height: 50%;

    display: flex;
}

.index-container-top {
    background-color: white;
}

.index-container-bottom {
    background-color: aquamarine;
}