.index-container-fullscreen {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    box-sizing: border-box;
    overflow: hidden;
    
    margin: 0;
    padding: 0;
}

.index-bg-image {
    width: 100vw;
    height: 100vh;

    position: relative;

    background-image: url("/static/images/cool-background.png");
    background-size: cover;
    background-position: center;

    animation: background-move 10s infinite linear;
}

@keyframes background-move {
    50% {background-position: top right;}
  }

  /* @keyframes background-move {
    0% {
    transform: scale(1, 1);
    }
    50% {
    transform: scale(1.5, 1.5);
    }
    100% {
    transform: scale(1, 1);
    }
    } */

.index-container-content {
    width: 100%;
    height: 100%;

    position: absolute;

    mix-blend-mode: screen;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-container-h2s {
    display: flex;
    flex-direction: row;

    width: 100%;
}

 .index-container-scroll-outer {
    width: 50%;
    height: 88px;

    text-align: right;
}

.index-container-nonscroll {
    width: 50%;
    text-align: left;
}

.index-container-h2s .index-container-scroll-outer {
    overflow: hidden;
    position: relative;
}

.index-container-h2s .index-container-scroll {
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
}

.index-animation {
    /*animation*/
    -webkit-animation: text-scroll 5s;
    -moz-animation: text-scroll 5s;
    -ms-animation: text-scroll 5s;
    -o-animation: text-scroll 5s;
    animation: text-scroll 5s;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    /*animation-delay*/
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

@keyframes text-scroll {
    0%  { top: -900px; }
    10% { top: -800px; }
    20% { top: -700px; }
    30% { top: -600px; }
    40% { top: -500px; }
    50% { top: -400px; }
    60% { top: -300px; }
    70% { top: -200px; }
    80% { top: -100px; }
    90% { top: 0px; }
}
@-webkit-keyframes text-scroll {
    0%  { top: -900px; }
    10% { top: -800px; }
    20% { top: -700px; }
    30% { top: -600px; }
    40% { top: -500px; }
    50% { top: -400px; }
    60% { top: -300px; }
    70% { top: -200px; }
    80% { top: -100px; }
    90% { top: 0px; }
}
@-moz-keyframes text-scroll {
    0%  { top: -900px; }
    10% { top: -800px; }
    20% { top: -700px; }
    30% { top: -600px; }
    40% { top: -500px; }
    50% { top: -400px; }
    60% { top: -300px; }
    70% { top: -200px; }
    80% { top: -100px; }
    90% { top: 0px; }
}
@-o-keyframes text-scroll {
    0%  { top: -900px; }
    10% { top: -800px; }
    20% { top: -700px; }
    30% { top: -600px; }
    40% { top: -500px; }
    50% { top: -400px; }
    60% { top: -300px; }
    70% { top: -200px; }
    80% { top: -100px; }
    90% { top: 0px; }
}

.index-h1 {
    font-size: 100px;
    letter-spacing: 4px;
    margin: 0;
}

.index-h2 {
    font-size: 75px;
    letter-spacing: 4px;
    margin: 0;
    height: 100px;
}

.index-container-buttons {
    display: flex;
    flex-direction: row;
}