.index-container-fullscreen {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    box-sizing: border-box;
    overflow: hidden;
    
    margin: 0;
    padding: 0;
}

.index-bg-image {
    width: 100vw;
    height: 100vh;

    position: relative;

    background-image: url("/static/images/cool-background.png");
    background-size: cover;
    background-position: bottom left;

    animation: background-move 10s infinite linear;
}

@keyframes background-move {
    50% {background-position: top right;}
  }

.index-container-content {
    width: 100%;
    height: 100%;

    position: absolute;

    mix-blend-mode: screen;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-container-h2s {
    display: flex;
    flex-direction: row;
    width: 100%;
}

 .index-container-scroll-outer {
    width: 50%;
    height: 88px;

    text-align: right;
}

.index-container-nonscroll {
    width: 50%;
    text-align: left;
}

.index-container-h2s .index-container-scroll-outer {
    overflow-y: scroll;
    position: relative;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.index-container-h2s .index-container-scroll-outer::-webkit-scrollbar {
    display: none;
}

.index-container-h2s .index-container-scroll {
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
}

.index-h1 {
    font-size: 100px;
    letter-spacing: 4px;
    margin: 0;
}

.index-h2 {
    font-size: 75px;
    letter-spacing: 4px;
    margin: 0;
    height: 100px;
}

.index-h2-short {
    height: 88px;
}

.index-container-buttons {
    display: flex;
    flex-direction: row;
}