.project-tile-container {
    border: black 4px solid;
    border-radius: 25px;

    margin: 10px;

    width: 350px;
    height: 350px;

    position: relative;
}

.project-tile {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.project-tile-title, .project-tile-description {
    margin: 0;
    text-align: center;
}

.project-tile-description-container {
    width: 100%;
    height: 0px;
    overflow: hidden;
    
    transition: all 0.5s ease-in-out;
}