@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    /* Font weights */
    --thin-font: 300;
    --normal-font: 400;
    --thick-font: 500;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: var(--normal-font);
    font-size: 20px;

    margin: 0;
    padding: 0;
}