@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'coolveticaheavy';
    src: url('../fonts/coolvetica-hv-webfont.woff2') format('woff2'),
         url('../fonts/coolvetica-hv-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'coolveticaheavy_italic';
    src: url('../fonts/coolvetica-hv-it-webfont.woff2') format('woff2'),
         url('../fonts/coolvetica-hv-it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'coolveticaregular';
    src: url('../fonts/coolvetica-rg-webfont.woff2') format('woff2'),
         url('../fonts/coolvetica-rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'coolveticaregular_italic';
    src: url('../fonts/coolvetica-rg-it-webfont.woff2') format('woff2'),
         url('../fonts/coolvetica-rg-it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    /* Font weights */
    --thin-font: 300;
    --normal-font: 400;
    --thick-font: 500;
}

body {
    font-family: 'coolveticaregular', sans-serif;
    font-size: 20px;

    margin: 0;
    padding: 0;
}

.ml-1 {
    margin-left: 0.5rem!important;
}

.mr-1 {
    margin-right: 0.5rem!important;
}