@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'coolveticaheavy';
    src: url('../fonts/coolvetica-hv-webfont.woff2') format('woff2'),
         url('../fonts/coolvetica-hv-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'coolveticaheavy_italic';
    src: url('../fonts/coolvetica-hv-it-webfont.woff2') format('woff2'),
         url('../fonts/coolvetica-hv-it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'coolveticaregular';
    src: url('../fonts/coolvetica-rg-webfont.woff2') format('woff2'),
         url('../fonts/coolvetica-rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'coolveticaregular_italic';
    src: url('../fonts/coolvetica-rg-it-webfont.woff2') format('woff2'),
         url('../fonts/coolvetica-rg-it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    /* Font sizes */
    --font-size-normal: 30px;

    /* Colours */
    --colour-lightgreen: #D9FFD6;
    --colour-mint: #ABFFDE;
    --colour-turquoise: #40E0D0;
    --colour-blue: #137AFC;
    --colour-purple: #5A00A5;
    --colour-darkpurple: #400038;
}

body {
    font-family: 'coolveticaregular', sans-serif;
    font-size: var(--font-size-normal);

    margin: 0;
    padding: 0;
}

.ml-1 {
    margin-left: 0.5rem!important;
}

.mr-1 {
    margin-right: 0.5rem!important;
}

a {
    text-decoration: none;
}

.text-link, .project-tile-text-link, .project-page-text-link {
    position: relative;
    width: fit-content;
}

.text-link-underline, .project-tile-link-underline, .project-page-link-underline {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: -3px;

    background: var(--colour-turquoise);
    z-index: -1;

    height: 12px;
    width: 0;
    transition: .5s ease-out;
}

.text-link-underline-active, .project-page-link-underline {
    width: calc(100% + 6px);
}