{% set active_page = 'projects_all' %}
{% extends "pages/base/base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects_all.css') }}">
{% endblock %}

{% block content %}
    <!-- <section class="section-container-padding border-black">
        <div>Search bar</div>
        <div>Categories</div>
        <div>Language icons</div>
    </section> -->
    <section class="section-container-padding border-black">
        {% for project in projects %}
        <a href="{{ url_for( 'portfolio_project', project_url_slug=project.url_slug) }}" class="project-tile-container">
            <div class="project-tile">
                <div class="project-tile-text-link">
                    <div class="project-tile-link-underline"></div>
                    <h3 class="project-tile-title">{{ project.name }}</h3>
                </div>
                <h4 class="project-tile-description">{{ project.description_short }}</h4>
                <div class="project-tile-icons">
                    {% for language in project.languages %}
                        {{language}}
                    {% endfor %}
                    <!-- <div class="icon icon-no-zoom icon-sm">
                        <i class="fab fa-html5"></i>
                    </div>
                    <div class="icon icon-no-zoom icon-sm">
                        <i class="fab fa-css3-alt"></i>
                    </div>
                    <div class="icon icon-no-zoom icon-sm">
                        <i class="fab fa-js"></i>
                    </div>
                    <div class="icon icon-no-zoom icon-sm">
                        <i class="fab fa-python"></i> -->
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </section>

    <script>
        $(document).ready(function() {
         $(".project-tile-container").hover(
             function() {
                var projectTitle = $(this).find(".project-tile-title")
                var titleWidth = (projectTitle.width() + 6);

                $(this).find(".project-tile-link-underline").width(titleWidth)
            }, function() {
                $(".project-tile-link-underline").width(0)
            });
    });
    </script>
{% endblock %}