{% set active_page = 'projects_all' %}
{% extends "pages/base/base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects_all.css') }}">
{% endblock %}

{% block content %}
    <section class="section-container-padding">
        <div class="project-tile-container">
            <div class="project-tile"></div>
        </div>
        <div class="project-tile-container"></div>
        <div class="project-tile-container"></div>
    </section>
{% endblock %}