<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <title>Zoe Thexton | Portfolio</title>
      
      {% block core_css %}
         <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
      {% endblock %}

      {% block extra_css %}
      {% endblock %}

      {% block core_js %}
         <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.js"></script>
      {% endblock %}

      {% block extra_js %}
      {% endblock %}
   </head>  
   
   <body>
      {% block content %}
      {% endblock %}
   </body>
</html>