.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 50px;
    width: 50px;

    border: solid 5px black;
    border-radius: 50%;

    margin: 0 0.5rem;
}

.icon:hover {
    text-decoration: none;
}