.sidebar {
    height: 100%;
    width: 400px;
    
    z-index: 10;

    position: fixed;
    top: 0;
    left: 0;

    transition: 1s;
}

.sidebar-content {
    width: 100%;
    height: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: var(--colour-blue);
}

.sidebar-h2 {
    color: white;
    margin: 0;
}

.sidebar-toggle {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(100% - 50px);

    z-index: 11;

    width: 100px;
    height: 100px;

    background-color: var(--colour-blue);
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.sidebar-toggle i {
    margin-left: 35px;
    font-size: 25px;

    transition: 1s;
}

.sidebar-nav {
    z-index: 12;
    list-style-type: none;
}

.sidebar-nav ul {
    list-style-type: disclosure-closed;
}

.sidebar-nav ul li a {
    color: white;
}

.sidebar-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sidebar-icons .icon {
    color: white;
    border-color: white;
}