.sidebar {
    height: 100%;
    width: 400px;
    
    z-index: 10;

    position: fixed;
    top: 0;
    left: 0;
}

.sidebar-content {
    width: 100%;
    height: 100%;

    mix-blend-mode: screen;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-toggle {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(100% - 50px);

    z-index: 11;

    width: 100px;
    height: 100px;

    background-color: white;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition-timing-function: ease-in-out;
}

.sidebar-nav {
    z-index: 12;
}