.sidebar-content, .sidebar-toggle, .sidebar-h2, .sidebar-nav-heading, .sidebar-nav ul, .sidebar-nav ul li a, .sidebar-icons .icon {
    color: white;
    border-color: white;
}

.sidebar-icons .icon:hover {
    color: var(--colour-blue);
    background: white;
}

.sidebar-content, .sidebar-toggle {
    background-color: var(--colour-blue);
}

.sidebar, .sidebar-toggle {
    border: 2px solid var(--colour-blue);
}

.sidebar {
    height: 100%;
    width: 350px;

    box-sizing: border-box;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    
    z-index: 10;

    position: fixed;
    top: 0;
    left: -350px;

    transition: 1s ease-in-out;
}

.sidebar-content {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-h2 {
    margin: 0;
    z-index: 11;
}

.sidebar-toggle {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(100% - 50px);

    z-index: -1;

    width: 100px;
    height: 100px;

    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-left: 0;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.sidebar-toggle i {
    margin-left: 35px;
    font-size: 25px;

    transition: 1s;
}

.sidebar-nav {
    z-index: 12;
    list-style-type: none;
    padding: 0;
}

.sidebar-nav-heading {
    font-size: 35px;
}

.sidebar-nav ul {
    list-style-type: disclosure-closed;
}

.sidebar-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}